<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/src/login.css">
</head>
<body>
<header>
    <div class="title">Authentificator</div>
    <img class="logout" src="/src/img/log-out.png" alt="">
</header>
<div class="login">
    <h1>Login</h1>
    <form method="post">
        <input type="text" name="u" placeholder="Username" required="required"/>
        <input type="password" name="p" placeholder="Password" required="required"/>
        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
    </form>
</div>
<div class="post-container">
    <div class="post456" id="456">

            <h1>Bob</h1>
            <p>Voici le post de Bob</p>

    </div>
    <div class="post654" id="654">
        <h1>Alice</h1>
        <p>Voici le post d'Alice</p>
    </div>
    <div class="post555" id="555">
        <h1>Admin</h1>
        <p>Voici le post de l'admin</p>
    </div>
</div>
</body>
<script src="/script/login.js"></script>
</html>